<div class="card ">
    <div class="card-header">
        <p>{{ carPlate.name }}</p>
        <p>{{ carPlate.surname }}</p>
    </div>
    <div class="card-body">{{ carPlate.plateData }}</div>

    <div class="col-xs-4">
        <button (click)="showModal = true" class="btn btn-danger" data-target="#exampleModal" data-toggle="modal">
            Delete
        </button>

        <div [ngClass]="{ show: showModal }" aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Delete item?
                    </div>
                    <div class="modal-footer">
                        <button (click)="showModal = false" class="btn btn-secondary" data-dismiss="modal" type="button">
                            Close
                        </button>
                        <button (click)="onDelete(carPlate._id)" class="btn btn-primary" type="button">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/edit', carPlate._id]" class="btn btn-primary">Edit</a>
    </div>
</div>
