<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <!--  acces to angular form obj -- #carPlateForm="ngForm" -->
        <form #carplateform="ngForm" (submit)="onSaveCarPlate(carplateform)" *ngIf="!isLoading" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Name</label>
                    <input #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" [class.is-valid]="fname.valid" [ngModel]="carPlate?.name" class="form-control" id="validationCustom01" name="fname" placeholder="Enter Name" required type="text"/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="surname">Surname</label>
                    <input #surname="ngModel" [class.is-invalid]="surname.invalid && surname.touched && plateIsTaken
                                                                                    " [class.is-valid]="surname.valid" [ngModel]="carPlate?.surname" class="form-control" id="surname" name="surname" placeholder="Enter Surname" required type="text"/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="plate">Plate Number</label>
                    <input #carplate="ngModel" [class.is-invalid]="carplate.invalid && carplate.touched" [class.is-valid]="carplate.valid" [ngModel]="carPlate?.plateData" class="form-control" id="plate" name="plate" pattern="[a-zA-Z]{3}[0-9]{3}|[0-9]{3}[A-Z]{2}" placeholder="Car Plate" required type="text"/>
                    <div class="invalid-feedback">
                        Use AAA111 or 111AA format.
                    </div>
                    <div *ngIf="plateIsTaken" class="plate-taken">
                        This plate number is already taken.
                    </div>

                </div>
            </div>
            <div class="row">
                <button class="btn btn-success" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>
